c_compiler_version:
  - 11

cxx_compiler_version:
  - 11

cuda_compiler:
  - cuda-nvcc

cuda11_compiler:
  - nvcc

sysroot_version:
  - "2.17"

ucx_version:
  - ">=1.13.0,<1.15.0"

ucx_py_version:
  - "0.33.*"

cmake_version:
  - ">=3.23.1,!=3.25.0"
