c_compiler_version:
  - 14

cxx_compiler_version:
  - 14

cuda_compiler:
  - cuda-nvcc

c_stdlib:
  - sysroot

c_stdlib_version:
  - "2.28"

ucx_py_version:
  - "0.46.*"

ucxx_version:
  - "0.46.*"

cmake_version:
  - ">=3.30.4"

nccl_version:
  - ">=2.19"
