#cpp code owners
cpp/               @rapidsai/raft-cpp-codeowners

#python code owners
python/            @rapidsai/raft-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/raft-cmake-codeowners
**/cmake/          @rapidsai/raft-cmake-codeowners
python/setup.py    @rapidsai/raft-cmake-codeowners
build.sh           @rapidsai/raft-cmake-codeowners
**/build.sh        @rapidsai/raft-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
docker/            @rapidsai/ops-codeowners
dependencies.yaml  @rapidsai/ops-codeowners
