#cpp code owners
cpp/               @NVIDIA/raft-cpp-codeowners

#python code owners
python/            @NVIDIA/raft-python-codeowners

#cmake code owners
CMakeLists.txt     @NVIDIA/raft-cmake-codeowners
**/cmake/          @NVIDIA/raft-cmake-codeowners
*.cmake            @NVIDIA/raft-cmake-codeowners
python/setup.py    @NVIDIA/raft-cmake-codeowners
build.sh           @NVIDIA/raft-cmake-codeowners
**/build.sh        @NVIDIA/raft-cmake-codeowners

#CI code owners
/.github/                @NVIDIA/adi-ci-codeowners
/ci/                     @NVIDIA/adi-ci-codeowners
/.shellcheckrc           @NVIDIA/adi-ci-codeowners
/.coderabbit.yaml        @NVIDIA/adi-ci-codeowners

#packaging code owners
/.pre-commit-config.yaml @NVIDIA/adi-packaging-codeowners
/.devcontainer/          @NVIDIA/adi-packaging-codeowners
/conda/                  @NVIDIA/adi-packaging-codeowners
dependencies.yaml        @NVIDIA/adi-packaging-codeowners
/build.sh                @NVIDIA/adi-packaging-codeowners
pyproject.toml           @NVIDIA/adi-packaging-codeowners

# Ops code owners
/SECURITY.md             @NVIDIA/adi-ops-codeowners
