c_compiler_version:
  - 9

cxx_compiler_version:
  - 9

cuda_compiler:
  - nvcc

sysroot_version:
  - "2.17"

cmake_version:
  - ">=3.23.1,!=3.25.0"

nccl_version:
  - ">=2.9.9"

gtest_version:
  - "=1.10.0"

libcusolver_version:
  - ">=11.2.1"

libcusparse_version:
  - ">=11.5.0"

libfaiss_version:
  - "1.7.0 *_cuda"
