
/* Constrain navbar logo size and add spacing */
.navbar-brand.logo .logo__image {
  height: 32px !important;
  width: auto !important;
  margin-right: 0.75rem;
}

.navbar-brand.logo {
  padding: 0.5rem 0;
}

/* Fix references to not look like parameters */
dl.citation > dt.label {
  display: unset !important;
  float: left !important;
  border: unset !important;
  background: unset !important;
  padding: unset !important;
  margin: unset !important;
  font-size: unset !important;
  line-height: unset !important;
  padding-right: 0.5rem !important;
}

/* Add opening bracket */
dl.citation > dt.label > span::before {
  content: "[";
}

/* Add closing bracket */
dl.citation > dt.label > span::after {
  content: "]";
}
