name: build

on:
  push:
    branches:
      - "branch-*"
    tags:
      - v[0-9][0-9].[0-9][0-9].[0-9][0-9]
  workflow_dispatch:
    inputs:
      branch:
        required: true
        type: string
      date:
        required: true
        type: string
      sha:
        required: true
        type: string
      build_type:
        type: string
        default: nightly

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  cpp-build:
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/conda-cpp-build.yaml@branch-23.12
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      date: ${{ inputs.date }}
      sha: ${{ inputs.sha }}
  python-build:
    needs: [cpp-build]
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/conda-python-build.yaml@branch-23.12
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      date: ${{ inputs.date }}
      sha: ${{ inputs.sha }}
  upload-conda:
    needs: [cpp-build, python-build]
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/conda-upload-packages.yaml@branch-23.12
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      date: ${{ inputs.date }}
      sha: ${{ inputs.sha }}
      skip_upload_pkgs: libraft-template
  docs-build:
    if: github.ref_type == 'branch'
    needs: python-build
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/custom-job.yaml@branch-23.12
    with:
      arch: "amd64"
      branch: ${{ inputs.branch }}
      build_type: ${{ inputs.build_type || 'branch' }}
      container_image: "rapidsai/ci-conda:latest"
      date: ${{ inputs.date }}
      node_type: "gpu-v100-latest-1"
      run_script: "ci/build_docs.sh"
      sha: ${{ inputs.sha }}
  wheel-build-pylibraft:
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/wheels-build.yaml@branch-23.12
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      sha: ${{ inputs.sha }}
      date: ${{ inputs.date }}
      script: ci/build_wheel_pylibraft.sh
  wheel-publish-pylibraft:
    needs: wheel-build-pylibraft
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/wheels-publish.yaml@branch-23.12
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      sha: ${{ inputs.sha }}
      date: ${{ inputs.date }}
      package-name: pylibraft
  wheel-build-raft-dask:
    needs: wheel-publish-pylibraft
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/wheels-build.yaml@branch-23.12
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      sha: ${{ inputs.sha }}
      date: ${{ inputs.date }}
      script: ci/build_wheel_raft_dask.sh
  wheel-publish-raft-dask:
    needs: wheel-build-raft-dask
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/wheels-publish.yaml@branch-23.12
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      sha: ${{ inputs.sha }}
      date: ${{ inputs.date }}
      package-name: raft_dask
