name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr-builder:
    needs:
      - checks
      - conda-cpp-build
      - conda-cpp-tests
      - conda-python-build
      - conda-python-tests
      - wheel-build-pylibraft
      - wheel-tests-pylibraft
      - wheel-build-raft-dask
      - wheel-tests-raft-dask
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/pr-builder.yaml@main
  checks:
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/checks.yaml@main
  conda-cpp-build:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/conda-cpp-matrix-build.yaml@main
    with:
      build_type: pull-request
      node_type: cpu16
  conda-cpp-tests:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/conda-cpp-tests.yaml@main
    with:
      build_type: pull-request
  conda-python-build:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/conda-python-matrix-build.yaml@main
    with:
      build_type: pull-request
  conda-python-tests:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/conda-python-tests.yaml@main
    with:
      build_type: pull-request
  wheel-build-pylibraft:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/wheels-manylinux-build.yml@main
    with:
      build_type: pull-request
      package-name: pylibraft
      package-dir: python/pylibraft
      skbuild-configure-options: "-DRAFT_BUILD_WHEELS=ON -DDETECT_CONDA_ENV=OFF -DFIND_RAFT_CPP=OFF"
  wheel-tests-pylibraft:
    needs: wheel-build-pylibraft
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/wheels-manylinux-test.yml@main
    with:
      build_type: pull-request
      package-name: pylibraft
      test-before-amd64: "pip install cupy-cuda11x"
      test-before-arm64: "pip install cupy-cuda11x -f https://pip.cupy.dev/aarch64"
      test-unittest: "python -m pytest -v ./python/pylibraft/pylibraft/test"
      test-smoketest: "" #"python ci/wheel_smoke_test_pylibraft.py"
  wheel-build-raft-dask:
    needs: wheel-tests-pylibraft
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/wheels-manylinux-build.yml@main
    with:
      build_type: pull-request
      package-name: raft_dask
      package-dir: python/raft-dask
      before-wheel: "RAPIDS_PY_WHEEL_NAME=pylibraft_cu11 rapids-download-wheels-from-s3 ./local-pylibraft-dep"
      cibw-before-build: "pip install --no-deps ./local-pylibraft-dep/pylibraft*.whl"
      skbuild-configure-options: "-DRAFT_BUILD_WHEELS=ON -DDETECT_CONDA_ENV=OFF -DFIND_RAFT_CPP=OFF"
  wheel-tests-raft-dask:
    needs: wheel-build-raft-dask
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/wheels-manylinux-test.yml@main
    with:
      build_type: pull-request
      package-name: raft_dask
      test-before-amd64: "RAPIDS_PY_WHEEL_NAME=pylibraft_cu11 rapids-download-wheels-from-s3 ./local-pylibraft-dep && pip install --no-deps ./local-pylibraft-dep/pylibraft*.whl && pip install git+https://github.com/dask/dask.git@main git+https://github.com/dask/distributed.git@main git+https://github.com/rapidsai/dask-cuda.git@branch-23.02 && export NCCL_DEBUG=INFO"
      test-before-arm64: "RAPIDS_PY_WHEEL_NAME=pylibraft_cu11 rapids-download-wheels-from-s3 ./local-pylibraft-dep && pip install --no-deps ./local-pylibraft-dep/pylibraft*.whl && pip install git+https://github.com/dask/dask.git@main git+https://github.com/dask/distributed.git@main git+https://github.com/rapidsai/dask-cuda.git@branch-23.02 && export NCCL_DEBUG=INFO"
      test-unittest: "python -m pytest -v ./python/raft-dask/raft_dask/test"
      test-smoketest: "" #"python ci/wheel_smoke_test_raft_dask.py"
