name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr-builder:
    needs:
      - changed-files
      - checks
      # - conda-cpp-build
      # - conda-cpp-tests
      # - conda-cpp-checks
      # - conda-python-build
      # - conda-python-tests
      # - docs-build
      - wheel-build-libraft
      - wheel-build-pylibraft
      - wheel-tests-pylibraft
      - wheel-build-raft-dask
      - wheel-tests-raft-dask
      # - devcontainer
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/pr-builder.yaml@branch-25.02
    if: always()
    with:
      needs: ${{ toJSON(needs) }}
  changed-files:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/changed-files.yaml@branch-25.02
    with:
      files_yaml: |
        test_cpp:
          - '**'
          - '!.devcontainer/**'
          - '!.pre-commit-config.yaml'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!docs/**'
          - '!img/**'
          - '!python/**'
          - '!thirdparty/LICENSES/**'
        test_python:
          - '**'
          - '!.devcontainer/**'
          - '!.pre-commit-config.yaml'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!docs/**'
          - '!img/**'
          - '!thirdparty/LICENSES/**'
  checks:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/checks.yaml@branch-25.02
    with:
      enable_check_generated_files: false
  # conda-cpp-build:
  #   needs: checks
  #   secrets: inherit
  #   uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-build.yaml@branch-25.02
  #   with:
  #     build_type: pull-request
  #     node_type: cpu16
  # conda-cpp-tests:
  #   needs: [conda-cpp-build, changed-files]
  #   secrets: inherit
  #   uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-tests.yaml@branch-25.02
  #   if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_cpp
  #   with:
  #     build_type: pull-request
  # conda-cpp-checks:
  #   needs: conda-cpp-build
  #   secrets: inherit
  #   uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-post-build-checks.yaml@branch-25.02
  #   with:
  #     build_type: pull-request
  #     enable_check_symbols: true
  # conda-python-build:
  #   needs: conda-cpp-build
  #   secrets: inherit
  #   uses: rapidsai/shared-workflows/.github/workflows/conda-python-build.yaml@branch-25.02
  #   with:
  #     build_type: pull-request
  # conda-python-tests:
  #   needs: [conda-python-build, changed-files]
  #   secrets: inherit
  #   uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@branch-25.02
  #   if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python
  #   with:
  #     build_type: pull-request
  # docs-build:
  #   needs: conda-python-build
  #   secrets: inherit
  #   uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@branch-25.02
  #   with:
  #     build_type: pull-request
  #     node_type: "gpu-v100-latest-1"
  #     arch: "amd64"
  #     container_image: "rapidsai/ci-conda:latest"
  #     run_script: "ci/build_docs.sh"
  wheel-build-libraft:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@branch-25.02
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      sha: ${{ inputs.sha }}
      date: ${{ inputs.date }}
      script: ci/build_wheel_libraft.sh
  wheel-build-pylibraft:
    needs: [checks, wheel-build-libraft]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@branch-25.02
    with:
      build_type: pull-request
      script: ci/build_wheel_pylibraft.sh
  wheel-tests-pylibraft:
    needs: [wheel-build-pylibraft, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@branch-25.02
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python
    with:
      build_type: pull-request
      script: ci/test_wheel_pylibraft.sh
  wheel-build-raft-dask:
    needs: [checks, wheel-build-libraft]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@branch-25.02
    with:
      build_type: pull-request
      script: "ci/build_wheel_raft_dask.sh"
  wheel-tests-raft-dask:
    needs: [wheel-build-raft-dask, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@branch-25.02
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python
    with:
      build_type: pull-request
      script: ci/test_wheel_raft_dask.sh
  # devcontainer:
  #   secrets: inherit
  #   uses: rapidsai/shared-workflows/.github/workflows/build-in-devcontainer.yaml@branch-25.02
  #   with:
  #     arch: '["amd64"]'
  #     cuda: '["12.5"]'
  #     build_command: |
  #       sccache -z;
  #       build-all -DBUILD_PRIMS_BENCH=ON --verbose;
  #       sccache -s;
