name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr-builder:
    needs:
      - checks
      - conda-cpp-build
      - conda-cpp-tests
      - conda-cpp-checks
      - conda-python-build
      - conda-python-tests
      - docs-build
      - wheel-build-pylibraft
      - wheel-tests-pylibraft
      - wheel-build-raft-dask
      - wheel-tests-raft-dask
      - devcontainer
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/pr-builder.yaml@python-3.12
  checks:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/checks.yaml@python-3.12
    with:
      enable_check_generated_files: false
  conda-cpp-build:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-build.yaml@python-3.12
    with:
      build_type: pull-request
      node_type: cpu16
  conda-cpp-tests:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-tests.yaml@python-3.12
    with:
      build_type: pull-request
  conda-cpp-checks:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-post-build-checks.yaml@python-3.12
    with:
      build_type: pull-request
      enable_check_symbols: true
      symbol_exclusions: raft_cutlass
  conda-python-build:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-build.yaml@python-3.12
    with:
      build_type: pull-request
  conda-python-tests:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@python-3.12
    with:
      build_type: pull-request
  docs-build:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@python-3.12
    with:
      build_type: pull-request
      node_type: "gpu-v100-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:latest"
      run_script: "ci/build_docs.sh"
  wheel-build-pylibraft:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@python-3.12
    with:
      build_type: pull-request
      script: ci/build_wheel_pylibraft.sh
  wheel-tests-pylibraft:
    needs: wheel-build-pylibraft
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@python-3.12
    with:
      build_type: pull-request
      script: ci/test_wheel_pylibraft.sh
  wheel-build-raft-dask:
    needs: wheel-tests-pylibraft
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@python-3.12
    with:
      build_type: pull-request
      script: "ci/build_wheel_raft_dask.sh"
  wheel-tests-raft-dask:
    needs: wheel-build-raft-dask
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@python-3.12
    with:
      build_type: pull-request
      script: ci/test_wheel_raft_dask.sh
  devcontainer:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/build-in-devcontainer.yaml@python-3.12
    with:
      arch: '["amd64"]'
      cuda: '["12.5"]'
      build_command: |
        sccache -z;
        build-all -DBUILD_PRIMS_BENCH=ON -DBUILD_ANN_BENCH=ON --verbose;
        sccache -s;
